/*  your css code here. If applicable */
.container {
      width: 400px;
      padding: 30px;
      background-color: #dcdcdc;
      border: 3px solid black;
      border-radius: 40px;
      text-align: center;
      margin: 50px auto;
    }

    .green, .yellow, .red {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: inline-block;
      margin: 0 10px;
    }

    .green {
      background-color: green;
    }

    .yellow {
      background-color: yellow;
    }

    .red {
      background-color: red;
    }
